<div class="container">

  <div class="row">
    <div class="col product-card">
      <div class="inner-card">
        <img src="<%= image_path('Binnorie - Labna.jpeg') %>" alt="Labna image" class="product-preview">
        <h3>Labna</h3>
        <p class="price">$10.00</p>
        <p>Creamy and delicatable strained yoghurt balls.</p>
        <button type="button" class="btn btn-outline-dark">Purchase</button>
      </div>
    </div>
    <div class="col product-card">
      <div class="inner-card">
        <img src="<%= image_path('Binnorie - Marinated Fetta.jpeg') %>" alt="Marinated Fetta image" class="product-preview">
        <h3>Marinated Fetta</h3>
        <p class="price">$15.00</p>
        <p>A rich, full-flavoured Fetta that's perfect for Bruschetta.</p>
        <a href="/checkout"><button type="button" class="btn btn-outline-dark">Purchase</button></a>
      </div>
    </div>
    <div class="col product-card">
      <div class="inner-card">
        <img src="<%= image_path('Binnorie - Chevre and Dill.jpeg') %>" alt="Chevre and dill image" class="product-preview">
        <h3>Chevre and Dill</h3>
        <p class="price">$10.00</p>
        <p>Chevre and Dill is an airy flavourful whipped cheese.</p>
        <button type="button" class="btn btn-outline-dark">Purchase</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col product-card">
      <div class="inner-card">
        <img src="<%= image_path('Binnorie - Chedder.jpeg') %>" alt="Cheddar image" class="product-preview">
        <h3>Cheddar</h3>
        <p class="price">$11.00</p>
        <p>Nothing beats a good Cheddar and this is a one good Cheddar.</p>
        <button type="button" class="btn btn-outline-dark">Purchase</button>
      </div>
    </div>
    <div class="col product-card">
      <div class="inner-card">
        <img src="<%= image_path('Binnorie - Buche de Chevre.jpeg') %>" alt="Buche de chevre image" class="product-preview">
        <h3>Buche de Chevre</h3>
        <p class="price">$13.00</p>
        <p>A soft goat cheese coated in the ash of burn grape vines.</p>
        <button type="button" class="btn btn-outline-dark">Purchase</button>
      </div>
    </div>
    <div class="col product-card">
      <div class="inner-card">
        <img src="<%= image_path('Binnorie - Brie 2.jpeg') %>" alt="Marinated Fetta image" class="product-preview">
        <h3>Aged Brie</h3>
        <p class="price">$15.00</p>
        <p>Our Brie develops real complexity as it is aged for up to six months.</p>
        <button type="button" class="btn btn-outline-dark">Purchase</button>
      </div>
    </div>
  </div>

</div>
